
.lime {
	width: 250px;
	height: 250px;
	background: linear-gradient(yellow, green);
	border-radius: 0px 60%;
	margin-bottom: 80px;
}

button {
	border: none;
	border-radius: 8px;
	background: #1a1a1a;
	padding: 10px 48px;
	color: #fff;
	cursor: pointer;
	transition: 0.3s;
}

button:hover {
	background: lime;
	color: #000;
}

#flags {
	margin-top: 50px;
}
#flags > .flag {
	width: 180px;
	height: 40px;
}

#flags> .flag:nth-child(1) {
	background: #f00;
}

#flags> .flag:nth-child(2) {
	background: #00f;
}

#flags> .flag:nth-child(3) {
	background: #ff8800;
}

#wrapper {
	display: flex;
	gap: 10px;
	margin-top: 35px;
}

#wrapper > .box {
	width: 150px;
	height: 150px;
	background: #666aaa;
}

p {
	font-size: 18px;
	font-family: cursive;
	color: #666;
	margin-top: 24px;
	line-height: 30px;
	letter-spacing: 2px;;
}
