main {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	justify-content: space-between;

	.content {
		background: linear-gradient(to top, #ff0, #00f);
	}

	@media screen and (max-width: 768px) {
		display: unset;
		width: 100vw;
	}
}

@media screen and (max-width: 768px) {
	main {
		.content {
			background: #ff2288;
			color: #ff0;
		}
	}
}